# ===================================================================================================
# This requirements file is used to install the necessary libraries for the preprocessing.
# ===================================================================================================

# Real-esrgan model
git+https://github.com/sberbank-ai/Real-ESRGAN.git
huggingface_hub==0.14.1

# Face detect, align, cropping
mediapipe
ml-dtypes==0.3.1
opencv-python
numpy
scikit-image
mediapipe
Pillow
torch
opencv-python
