# Core Libraries
numpy==1.23.5
pandas==1.5.3
opencv-python==4.7.0.72
scikit-learn==1.2.2

# Deep Learning Libraries
tensorflow==2.13.0
keras==2.13.1

# Utility Libraries
matplotlib==3.7.1
alive-progress==2.4.1